.piantinadiv{
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    border: 1px solid red
};

*{
    border: 1px solid red;
}

header{
    border: 0px solid red;
    width: 100%;
    text-align: center;
    color: rgb(11, 78, 11);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;    
    font-style: oblique;
    font-weight: bolder;
    position: fixed;
    top: 0;
    background-color: rgb(214, 136, 184);
    box-shadow: 0px 0px 20px 13px rgb(110, 65, 93);
    padding: 0 0 17px 0;
}
.testiheader{overflow: hidden; position: relative;}



header h1, header h2{margin: 0px 5px 0px 5px ;
text-shadow: 0 0 10px #FFFFFF ;}
body{padding: 0; margin: 0;}
header h1 img{max-height: 50PX;position: static;}
header h2 img{max-height: 25PX;position: static;}
#divfiocchetti{display:flex;justify-content:space-around; position: absolute;}
#divfiocchetti img {width: 5%;}

.falling-image {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -200%);
      width: 50px;
      animation: fallWithWave 3s ease-in-out infinite;
    }

    @keyframes fallWithWave {
      0% {
        transform: translate(-50%, -200%) rotate(0deg);
      }
      25% {
        transform: translate(-45%, -100%) rotate(5deg);
      }
      50% {
        transform: translate(-55%, 0%) rotate(-5deg);
      }
      75% {
        transform: translate(-45%, 100%) rotate(5deg);
      }
      100% {
        transform: translate(-50%, 200%) rotate(0deg);
      }
    }